@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

header{
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
    padding: 12px;
    background-color: rgb(26, 26, 63);
    color: white
}
marquee{
    color: red
}
#cont{
    background-color:gray; 
    border-color: gray;
    color: black;
    width: 100%;
    margin-top: 10px;
}
#sec-head{
    background-image: url(blockchain.png);
    font-family:sans-serif;
    font-weight:bold;
    padding: 20px
}
#phrase{
    border-color: rgb(68, 62, 62);
}
span{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: gray;
    padding: 12px;
    padding-left: 0px;
}
form, .menu{
    padding: 20px;
    padding-bottom: 0px;
}
select{
    padding: 5px;
    border-radius: 5px;
}

#area{
    height: 100px;
    word-wrap: break-word;
}

label{
    font-weight: bold;
}
input{
    width:100%
}
h3{
    padding: 5px;
}
#finger{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 60px;
    height: 60px
}
#foot{
    width: 100%
}
#output{
    color: red;
    font-weight: 100;
    font-style: italic;
    padding-left: auto;
}
#captcha {
    background-image: url(images/captcha-background.png);
    width: 300px;
    height: 150px;
    font-size: 100px;
    letter-spacing: 4px;
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Grape Nuts', cursive
}